
body{
	margin: 100px auto 0 100px;
	display: flex;
}
.box1{
	width: 100px;
	height: 100px;
	background: red;	
}
.box2{
	width: 100px;
	height: 100px;
	background: blue;
}
.box3{
	width: 100px;
	height: 100px;
	background: purple;
}
.box4{
	width: 100px;
	height: 100px;
	background: #20880B;
}
.box5{
	width: 100px;
	height: 100px;
	background: pink;
}