*{
    margin: 0;
    padding: 0;
}
header{
    background-color: darkgoldenrod;
}

#top{
    width: 100px;
    height: 200px;
    background-color: black; 
}
#middle{
    width: 60%;
    height: 1200px;
    background-color: brown;
}
#bottom{
    width: 100%;
    height: 400px;
    background-color: cyan;
}