*{
    margin: 0;
    padding: 0;
}
body{
    min-width: 1517px;
}
        /* 网页上部分 */
header{
    height: 150px;
    background-color:#1DB176;
   
}
.serviceWrap{
    height: 35px;
    background-color: white;
}
.serviceWrap p{
    float: left;
    color: #71B581;
    line-height: 35px;
    margin-left: 142px;
}
.icon{
    float: right;
    margin-right: 318px;
    line-height: 35px;
}
.icon > img{ 
    vertical-align: middle;
    padding: 0 5px;
}
.info{
    line-height: 115px;
    
}
.info > img{
    line-height: 115px;
    vertical-align: middle;
    padding-left: 142px;
}
.menu{
    width: 50%;
    float: right;
}
.menu ul{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.menu ul li{
    line-height: 111px;
    color: white;
    list-style: none;
    padding: 0 5%;
}
.menu ul li:hover{
    cursor: pointer;
    border-bottom: 4px solid white;
}
            /* 主体部分 */

#main{
    margin: 0 auto;
    background-color: #FAFAFA;
    padding: 0 142px 150px;
}
.top{
    height: 60px;
    margin-right: 17px;
    border-bottom: 1px solid #d0d6d9;
}
.title{
    line-height: 60px;
}
.title span{
    color: #6BB078;
}
.contentList{
    height: 50px;
    border-bottom: 1px solid #d0d6d9;
    margin-right: 17px;
}
.contentList span{
    line-height: 50px;
    margin-right: 15px;
}
.contentList ul :nth-child(2 3){
    background-color: #6BB078;
}

.introduction{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #d0d6d9;
    margin-right: 17px;
}

#information{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 394px;
    border-radius: 2px;
    margin-top: 25px;
    margin-right: 15px;
    color: #b8b8b8;
    box-shadow: 0 0 2px #e2e2e2;
    font-size: 90%;
    border: 1px solid #e2e2e2;
    background-color: white;
}

.hide{
    display: none;
    position: absolute;
    width: 394px;
    height: 468px;
    color: white;
    background-color: rgba(0,0,0,0.8);
}
.hide > p{
    text-align: center;
    margin:60px 30px;
}
/* 要 card 和hide 共同的父级元素才行
 实现原理
1. A元素与B元素有一个相同的父级。(表示A与B写在同一个父元素下面，是同级的)
2. B元素默认隐藏，A元素默认显示。
3. 当鼠标移到A元素身上时，看做是移动到父元素身上。（父元素获得hover状态）
4. 再选中B元素，让其显示。
*/
 .cardHide:hover .hide{
    display: block;
}
.cardTop{
    height: 180px;
    border-bottom: 1px solid #d0d6d9;
}
.cardTop :nth-child(1){
    float: left;
    margin-top: 20px;
    margin-left: 11px;
    margin-right: 8px;
    margin-bottom: 16px;
}

.card p{
    word-break: break-all;  
}
.cardTop h3{
    padding-top: 32px;
    padding-bottom: 18px;
    color: black;   
}
.cardMiddle ul{
    clear: both;
}
.cardMiddle ul li{
    display: inline-block;
    width: 180px;
    padding: 11px 0;
    padding-left: 7px;
    font-size: 14px;
}
.cardMiddle ul li img{
    padding-left: 5%;
}
.cardMiddle ul li strong{
    margin-left: 8px;
    color: red;
}
.cardMiddle ul li span{
    color: black;
}
.liOne{
    border-bottom: 1px solid #d0d6d9;
    border-right: 1px solid #d0d6d9;
}
.liTwo{
    border-bottom: 1px solid #d0d6d9;
}
.cardButtom {
    /* clear: both; */
    height: 124px;
}
.cardButtom p{
    text-align: center;
    line-height: 122px;
    width: 150px;
    height: 122px;
    float: left;
    border-bottom: 1px solid #d0d6d9;
    border-right: 1px solid #d0d6d9;
}
.Salary ul li{
    width: 210px;
    height: 40px;
    line-height: 40px;
    list-style: none;
    float: left;
    border-bottom: 1px solid #d0d6d9;
    padding-left: 14px;
    color: black;
    font-size: larger;
}
.Salary ul li span{
    float: right;
    margin-right: 10px;
}
.studyNum {
    height: 45px;
    line-height: 45px;
    padding-left: 15px;
    border-bottom: 1px solid #d0d6d9;
    color: black;
    font-size: larger;
}
.studyNum strong{
    color: #DD5A00;
}
.prompt{
    height: 34px;
    line-height: 34px;
    font-size: 12px;
    padding-left: 15px;
}

            /* 底部部分 */
#bottom{
    height:200px;
    background-color: #1DB176;
    display: flex;
    justify-content: space-around;
    color: white;
}
.bottomTop{
    margin-left: 40px;
}
.bottomTop > div{
    margin-top: 30px;
    font-size: larger;
}
.bottomMiddle{
    margin-top: 30px;
}
.bottomMiddle p{
    margin-bottom: 40px;
}
.bottomMiddle span{
    margin-right: 50px;
}
.bottomBottom{
    margin-top: 30px;
}
.bottomBottom > p{
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}
footer{
    background-color: #1DB176;
    color: white;
    border-top: 1px solid #75C086;
    text-align: center;
    font-size: 10px;
}