*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 200px;
    background-color: darkgreen;
   
}
.serviceWrap{
    width: 60%;
    height: 50px;
    background-color: white;
    float: left;
}
.icon{
    float: right;
}