*{
    margin: 0;
    padding: 0;
}
body{
    min-width: 507px;
}
#top{
   
    background-color: #F9F9F9;
    overflow: hidden;
}
.topInfo{
    height: 40px;
    background-color: #4C78DA;
    display: flex;
    justify-content: space-between;
    color: white;
}
.topInfo > span{
    width: 210px;
    line-height: 40px;
    margin-left: 15%;
}
@media screen and (max-width:386px){
    .topInfo > span{
        display: none;
    }
}
.logIN{
    width: 200px;
    line-height: 40px;
    margin-right: 5%;
    display: flex;
}
@media screen and (max-width:386px){
    .logIN{
        width: 100%;
        justify-content: flex-end;
    }
}
.logIN span{
    width: 70px;
    text-align: center;
}
.logIN span:hover{
    background-color: white;
    color: black;
    margin: 0 15px;
}

.topNav{
    width: 33%;
    height: 70px;
    float: right;
    margin-right:10%;
}
.topNav ul{
    position: relative;
    top: 50%;
    /* 垂直居中 */
    -webkit-transform: translateY(-50%);
    -ms-transform: translateX(-50%);
    transform: translateY(-50%);
    display: flex;
    justify-content:space-between;
}
.topNav ul li{
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    list-style: none;
    text-align: center;
    background-color: white;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #ccc;
}
.topNav ul li:hover{
    background-color: #4C78DA;
    color: white;
}
@media screen and (max-width:1000px){
    .topNav{
        display: none;
    }
}

#accordion{
    display: none;
    margin: 0px;
    overflow: hidden; 
}
#headingOne img {
    float: right;
    margin-right: 3%;
}
#collapseOne ul li {
    list-style: none;
    text-align: center;
    font-size: large;
    margin: 5px;
}
#collapseOne{
    background-color:#4C78DA;
}
#collapseOne ul li{
    list-style: none;
    text-align: center;
    color: white;
    font-size: large;
    margin: 5px;
}
#collapseOne ul li:hover{
    cursor: pointer;
    color: yellow;
}
.panel-default>.panel-heading {
    height: 60px;
    background-color: #4C78DA;
}
@media screen and (max-width:1000px){
    #accordion{
        display: block;
    }
}
#middle{
    width: 80%;
    margin: 0 auto;
}
.middleNav{
    height: 100px;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}
.middleNav .box{
    width: 150px;
    height: 50px;
    float: left;
    position: relative;
}
@media screen and (max-width:750px){
    .middleNav .box{
        width: 20%;
    }
}
.line{
    height: 10px;
    border-radius: 5px;
    line-height: 10px;
    text-align: center;
    background-color: #dedede;
    color: white;
}
.circle{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    background-color:#dedede;
    left: 50%;
    top: 10%;
    transform: translate(-15px, -15px);
    z-index: -1;
}
.line:hover{
    background-color: #E17D00;
}
.line:hover~.circle{
    background-color: #E17D00;
}
.line:hover~.menu{
    color: #E17D00;
}
.menu{
    text-align: center;
    margin-top: 20px;
    color: #dedede;
}

.main{
    color: #838384;
}
.main h3{
    border-left: 5px solid #4C78DA;
    padding-left: 8px;
    font-weight: 500;  
    margin-bottom: 20px; 
}
.table{
    border: 1px solid #ccc;
    margin-bottom: 0;
}
input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
input[type="radio"]:checked + label {
    display: inline-block;
    box-sizing: content-box;
    width: 3px;
    height: 3px;
    border: 6px solid #1d7ad9;
    border-radius: 50%;
}
input[type="radio"] + label {
    display: inline-block;
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid #1d7ad9;
    margin-bottom: 3px;
    border-radius: 50%;
    vertical-align: middle;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.boxType{
    height: 30px;
    padding-left: 20px;
    background-color: #F3F3F3;
}
.boxType >img{
    vertical-align: middle;
}
.main .boxType span{
    line-height: 30px;
    color: #4C78DA;
}

.mainTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBFCFF;
}
form{
    padding: 2% 0 ;
    position: relative;
    padding-left: 3%;
}
form .box{
    width: 133px;
    float: left;
}
@media screen and (max-width:1052px){
    form .box{
        width: 53%;
    }
}
select {
    width: 120px;
    height: 40px;
    appearance: none;
    outline: none;
    color: #999;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    background: url(./imgs/logo-4.png) no-repeat 85px 5px;
    padding: 10px 50px 10px 10px;
    margin-right: 2%;
}
.mainMiddle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBFCFF;
}
.size{
    padding-left: 3%;
}
@media screen and (max-width:1052px){
    .size{
        width: 35%;
    }
}
.size-select{
    width: 200px;
    padding-left: 10px;
}
input{
    width: 60px;
}
.size-1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.size-select{
    padding: 3% 0;
}
.size-2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.mainBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBFCFF;
}
.nextBox{
    height: 295px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    margin-bottom: 4%;
}
.mainBox{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 3%;

}
.box2{
    width: 190px;
    padding: 8% 0;
}
.box2 span{
    font-size: 1.5rem;
    padding-left: 8px;
}
button{
    outline:none; 
}
.nextStep{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #e15053;
    color: white;
    border: 1px solid #e15053;
    font-size: x-large;
} 

#bottom{
    background-color: #F9F9F9;
    color: #979797;
}
.bottomRow{
    width: 80%;
    padding-top: 48px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.job{
    width: 33%;
    height: 177px;
}
.about{
    width: 33%;
    height: 177px;
}
.about a {
    margin: 5%;
    text-decoration: none;
    color: #979797;
}
.about a:hover{
    color: #4C78DA;
}
.aboutTop{
    margin-bottom: 20px;
}
.tel{
    width: 33%;
    height: 177px;
}
.tel ul{
    float: left;
}
.tel ul li{
    list-style: none;
}
@media screen and (max-width:1330px){
    .job,
    .about,
    .tel{
        width: 50%;
    }
}
@media screen and (max-width:878px){
    .job,
    .about,
    .tel{
        width: 100%;
        text-align: center;
        
    }
}
@media screen and (max-width:878px){
    .tel ul{
        float: none;
    }
}
footer{
    background-color:#4C78DA;
    font-size: 12px;
    color: white;
    text-align: center;
}