*{
    margin: 0;
    padding: 0;
}
#top{
    height: 200px;
    background-color: aqua;
    overflow: hidden;
}
.topInfo{
    height: 40px;
    background-color: rosybrown;
}
.topNav{
    width: 500px;
    height: 160px;
    background-color: slategray;
    float: right;
    margin-right:10%;
}
#middle{
    width: 80%;
    margin: 0 auto;
    height: 1000px;
    background-color:red;
}
.middleNav{
    width: 50%;
    height: 100px;
    float: right;
    background-color:rebeccapurple;
}
.main{
    height: 800px;
    
    background-color: silver;
}
#bottom{
    height: 400px;
    background-color: chartreuse;
}