*{
    margin: 0;
    padding: 0;
}
#top{
    height: 200px;
    background-color: aqua;
}
.topInfo{
    height: 40px;
}
#middle{
    height: 1000px;
    background-color:red;
}
#bottom{
    height: 400px;
    background-color: chartreuse;
}