*{
    margin: 0;
    padding: 0;
}
#top{
    height: 200px;
    background-color: aqua;
}
.topInfo{
    height: 40px;
    background-color: rosybrown;
}
.topNav ul{
    width: 500px;
    background-color: seashell;
    list-style: none;
    display: flex;
    justify-content: end;
}

#middle{
    height: 1000px;
    background-color:red;
}
#bottom{
    height: 400px;
    background-color: chartreuse;
}